
 name: java

 env:
  JFROG_URL: ${{vars.JFROG_URL}}
  JFROG_USERNAME: ${{vars.JFROG_USERNAME}}
  JFROG_PASSWORD: ${{secrets.JFROG_PASSWORD}}
 
 on:
  push:
    branches: ["master"]
  pull_request: 
    branches: ["master"]

 jobs: 
   build: 
     runs-on: ubuntu-latest
     steps:
       - name: checkout
         uses: actions/checkout@v4
         
       - name: setup-java
         uses: actions/setup-java@v4
         with:
           distribution: 'temurin'
           java-version: '11'
         
       - name: build
         run: mvn clean compile install
         
       # - name: SonarQube Scan
       #   uses: sonarsource/sonarqube-scan-action@v2
       #   with:
       #     args: >
       #      -Dsonar.projectKey=my-java-app
       #      -Dsonar.projectName=My Java App
       #      -Dsonar.java.binaries=target
       #   env:
       #    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
       #    SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

       - name: Trivy File System Scan
         uses: aquasecurity/trivy-action@master
         with:
                scan-type: 'fs'
                scan-ref: '.'
                format: 'table'
                exit-code: '1'      # FAIL pipeline if vulnerabilities found
                severity: 'HIGH,CRITICAL'
                
       - name: Trivy Scan JAR artifact
         uses: aquasecurity/trivy-action@master
         with:
          scan-type: 'fs'
          scan-ref: './target'
          format: 'table'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'
                
       - name: jfrog CLI setup
         uses: jfrog/setup-jfrog-cli@v4
         with:
            version: latest
