
 name: java

 env:
  JFROG_URL: ${{vars.JFROG_URL}}
  JFROG_USERNAME: ${{vars.JFROG_USERNAME}}
  JFROG_PASSWORD: ${{secrets.JFROG_PASSWORD}}
 
 on:
  push:
    branches: ["master"]
  pull_request: 
    branches: ["master"]

 jobs: 
   build: 
     runs-on: ubuntu-latest
     steps:
       - name: checkout
         uses: actions/checkout@v4
         
       - name: setup-java
         uses: actions/setup-java@v4
         with:
           distribution: 'temurin'
           java-version: '17'
         
       - name: build
         run: mvn clean compile

       - name: jfrog CLI setup
         uses: jfrog/setup-jfrog-cli@v4
         with:
            version: latest
